@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #121212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ffffff;
  }
}

html,
body {
  max-width: 100vw;
  height: 100%;
  /* overflow-x: hidden; */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@theme {
  /** POINT COLORS **/
  --color-primary-100: #f4d9dd;
  --color-primary-200: #d88c97;
  --color-primary-300: #b55462;
  --color-primary-400: #9c283a;
  --color-primary-500: #8b1e2d;

  --color-secondary-100: #eae4f2;
  --color-secondary-200: #c8bbd6;
  --color-secondary-300: #9d7faf;
  --color-secondary-400: #59455e;
  --color-secondary-500: #3e2c41;

  --color-accent-100: #ffe5b4;
  --color-accent-200: #ffab40;
  --color-accent-300: #ff6d00;
  --color-accent-400: #ff5400;
  --color-accent-500: #e65100;

  /** LIGHT MODE **/
  --color-background-light: #ffffff;
  --color-primarytxt-light: #000000;
  --color-secondarytxt-light: #4b5563;
  --color-mutedtxt-light: #9ca3af;

  --color-cardBg-light: #f3f4f6;
  --color-cardHover-light: #e5e7eb;
  --color-borderLine-light: #d1d5db;

  /** DARK MODE **/
  --color-background-dark: #121212;

  --color-primarytxt-dark: #ffffff;
  --color-secondarytxt-dark: #d1d5db;
  --color-mutedtxt-dark: #6b7280;

  --color-cardBg-dark: #1e1e1e;
  --color-cardHover-dark: #292929;
  --color-borderLine-dark: #374151;

  --color-kakao-container: #fee500;
  --color-kakao-containerHover: #fff280;
  --color-kakao-symbol: #000000;

  --color-google-container: #ffffff;
  --color-google-symbol: #1f1f1f;
  --color-google-container-dark: #131314;
  --color-google-container-dark-hover: #1a1a1c;
  --color-google-symbol-dark: #e3e3e3;
  --color-google-stroke: #747775;
  --color-google-stroke-dark: #8e918f;

  --color-header-container: #f8f9fa;
  --color-header-title: #212529;
  --color-header-container-dark: #3c3f41;
  --color-header-title-dark: #e9ecef;
}
